@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Spline+Sans+Mono:wght@400;500&display=swap');

:root {
    --primary: #B6EBFF;
    --light-blue: #DAF5FF;
    --background: #1A2D3D;
    --background-darker: #12202c; 
    --navigation: #D9D9D9;
    --text-1: #EFEFEF;
    --text-2: #8E979F;

    --ff-ss-mono: 'Spline Sans Mono', monospace;
    --ff-inter: 'Inter', sans-serif;
    --fw-reg: 400;
    --fw-med: 500;
    --fw-bold: 700;
}

* {
    font-family: var(--ff-inter);
    font-size: 16px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: var(--background);
}

.nav {
    list-style-type: none;
    margin: 0;
    padding: 0 3.375rem;
    display: flex;
    justify-content: flex-end;
    gap: 1.5rem;
}

.nav > li {
    margin: 3rem 0;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.header.on-scroll {
    background-color: var(--background-darker);
}

.header .nav a {
    font-family: var(--ff-ss-mono);
    font-weight: var(--fw-med);
    font-size: 13px;
}

.nav a{
    color: var(--navigation);
    text-decoration: none;
}

main {
    border: 0;
    /* margin: 0 158px; */
    padding: 0 254px;
}

h2 {
    color: var(--text-1);
}

h3, p {
    color: var(--text-2);
}

.hero-section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-section h1 {
    color: var(--primary);
    font-weight: var(--fw-reg);
    font-family: var(--ff-ss-mono);
}

.hero-section h2 {
    font-size: 54px;
    margin-top: 21px;
}

.hero-section h3 {
    font-size: 54px;
    margin-bottom: 21px;
}

.hero-section p {
    width: 50ch;
}

.about-section {
    padding: 3rem;
}

.about-section h2 {
    font-size: 24px;
    margin-bottom: 21px;
}

.about-section p {
    width: 70ch;
}