/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    font-family: "Inter", sans-serif;
}

* {
    padding: 0;
    margin: 0;
    border: 0;
    color: white;
}

body {
    background-color: #243E36;
}

.hero-section {
    height: 100vh;
    width: 100vw;
    display: flex;
}

.hero-section .left {
    height: 100%;
    width: 39vw;
    background-image: url(assets/img/james.png);
    background-position: center;
    background-size: cover;
}

.hero-section .right {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    background: rgb(36, 62, 54);
}

.hero-section .right .header {
    height: 7rem;
    padding: 0 3rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
}

.right .header>a {
    font-weight: 500;
    text-decoration: none;
    font-size: 14px;
    padding: 1rem 0;
}

.right .header .active-page {
    box-shadow: 0 3px #FFD258;
    padding: calc(1rem - 3px) 0;
}

.right .introduction-container {
    height: calc(100% - 7rem);
    padding: 0 6rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.introduction-container .introduction h1 {
    font-size: clamp(24px, 3vw, 3rem);
}

.introduction-container .introduction p {
    max-width: 55ch;
    font-size: clamp(12px, 1vw, 14px);
}

.introduction-container .introduction .divider {
    height: 3px;
    width: 100px;
    margin: 1rem 0;
    background-color: #FFD258;
}

.introduction-container .call-to-actions {
    margin-top: 1rem;
}

.call-to-actions>button {
    padding: 0.75rem 1rem;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 600;
    color: #243E36;
}

button.cta-about {
    background-color: #FFD258;
}

button.cta-projects {
    background-color: #FFFFFF;
}

@media (width < 768px) {
    .hero-section .left {
        display: none;
    }

    .hero-section .right .bg {
        height: 100%;
        width: 100%;
        opacity: 10%;
        position: absolute;
        top: 0;
        left: 0;
        background: url(assets/img/james.png);
        background-position: center;
        background-size: cover;
    }

    .right .introduction-container {
        padding: 0 3rem;
    }

    .introduction-container .introduction .divider {
        width: 70px;
    }

    .call-to-actions>button {
        font-size: 12px;
    }
}