* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #1A2D3D; 
}

main {
  height: 100vh;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
/*   border: 1px solid red; */
  overflow: hidden;
  height: 100px;
  opacity: 2.5%;
}

.container h1{ 
  transform: translateY(10px);
  color: white;
}

h1:nth-child(odd) {
  background-color: grey;
}

@keyframes moveUp {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-216px);
  }
}

@keyframes moveDown {
  from {
    transform: translateY(-216px);
  }
  to {
    transform: translateY(0px);
  }
}

h1 {
  padding: 0;
  margin: 0;
  border: 0;
  line-height: 0.9;
  font-size: 120px;
  animation: moveUp 15s linear infinite;
}

.james {
  animation: moveDown 15s linear infinite;
}

section {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-section {
  margin: 3rem;
}

h2 {
  font-size: 5rem;
  color: white;
}

